/*  your css code here. If applicable */
body{
	font-family:Arial,sans-serif;
}
.modal{
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0, 0, 0, 0.4);
}

.modal-content{
	background-color:#fefefe;
	margin:auto;
	padding:20px;
	border:1px solid #888;
	width:80%;
	max-width:500px;
	border-radius:8px;
	box-shadow:0 4px 4px rgba(0, 0, 0, 0.2);
}

.modal-header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
}

.modal-header h2{
	margin:0;
	
	
}

.close-modal{
	color:#aaa;
	font-size:28px;
	font-weight:bold;
	cursor:pointer;
}
.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
}

/* 5. The Modal Body */
.modal-body {
    padding-top: 15px;
}
